.card {
  background: transparent;
  perspective: 1000px;
  width: clamp(120px, 15vw, 180px);
  height: clamp(160px, 20vw, 240px);
  cursor: pointer;
  flex-shrink: 0;
}

.card .card-inner {
  animation: flipBack 0.8s linear forwards;
}

.card.flipped .card-inner {
  animation: flipFront 0.8s linear forwards;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-front {
  transform: rotateY(180deg);
}

.card-front img {
  filter: sepia(100%);
}

@keyframes flipFront {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes flipBack {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}
